@font-face {
    font-family: PlayfairDisplay ;
    src: url('fonts/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: Montserrat ;
    src: url('fonts/Montserrat-Regular.ttf');
}

*{
    margin: 0;
}
body{
    margin: 4% 16% 0;
    font-family: Montserrat;
}

    header h1{
        font-family: Playfair Display;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
    }
    .header-text{
        display: flex;
        align-content: flex-start;
        width:65%;
        margin: 1.5% 0;
    }
        .header-text img{
        margin:0.8% 1.5% 0.8% 0;
        height: fit-content;
        }
        .header-text p{
            flex: 1;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #4F4F4F;
        }

    .banner img{
        width: 100%;
        margin: 5% 0;
    }

.content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

    .timings{
        width:23%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        height: fit-content;
    }
        .timings ul{
            list-style-type: none;
            padding: 0;
            margin: 15% 10% ;
        }
            .timings li{
                display: flex;
                align-items: center;
            }
                .timings img{
                    width: 25%;
                    height: 25%;
                    padding: 10%;
                }
                .timings-item{
                    flex: 1;
                }
                    .timings-item h5{
                        width: fit-content;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: #BDBDBD;
                    }
                    .timings-item h4{
                        margin-top: 8%;
                        width: fit-content;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #333333;
                    }

                    .timings li:nth-child(1) h4{
                        color: #0288D1;
                    }

    .texts{
        width: 60%;
    }
        .texts h3{
            font-family: Playfair Display;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #333333;
        }
        .texts li{
            font-size: 16px;
            color: #333333;
        }
            .ingredients h5{
                font-family: Playfair Display;
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                color: #333333;
                margin: 5% 0;
            }
            .ingredients ul{
                list-style-type: none;
                padding: 0;
            }
                .ingredients li{
                    display: flex;
                    margin-top:2%;
                }
                    .ingredients li input[type=checkbox]{
                        transform: scale(1.4);
                        margin-left: 1%;
                    }
                    .ingredients li label{
                        margin-left: 3%;
                    }

        .instructions h3{
            margin: 5% 0;
        }
            .instructions ol{
                list-style: none;
                padding: 0;
            }
            .instructions ol li{
                margin: 5% 0;
                display: flex;
            }
                .instructions ol li::before{
                    content: counter(list-item);
                    counter-increment: list-item;
                    background-color:#0288D1 ;
                    font-family: Playfair Display;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    border-radius: 15%;
                    color: #FFFFFF;
                    padding: 0.8% 2%;
                    height: fit-content;
                }

                .instructions ol li p{
                    margin-left:3% ;
                    line-height: 24px;
                }

        .instructions a{
            margin: 10% 0;
            display: block;
            color: #BDBDBD;
            text-decoration: none;
        }

footer{
    padding: 2% 4%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    text-align: center;
}

@media screen and (max-width:1200px){
    .timings h4{
        font-size: 10px;
    }
    .timings h5{
        font-size: 8px;
    }
    .header-text{
        width: 80%;
    }
}

@media screen and (max-width:800px){
    header h1{
        font-size: 36px;
    }
    .timings h4{
        margin-top: 2%;
        font-size: 8px;
    }
    .timings h5{
        font-size: 6px;
    }
}

@media  screen and (max-width:650px) {
    body{
        margin: 8% 3% 0;
    }
        header h1{
            font-size: 24px;
            line-height: 32px;
        }
        .header-text{
            width: 95%;
        }
            .header-text p{
                font-size: 12px;
                line-height: 15px;
                margin-left: 2%;
            }
        .banner img{
            border-radius: 4%;
        }
        .content{
            flex-direction: column;
        }
        .timings{
            width: 100%;
            box-shadow: none;
        }
            .timings ul{
                margin: 0;
                display:flex;
                flex-wrap: wrap;
            }
                .timings li:nth-child(1){
                    width: 100%;
                    padding-right: 40%;
                    height: fit-content;
                }
                .timings li:nth-child(n+2){
                    flex:1;
                    height:fit-content;
                    margin: 5% 0 8%;
                }
                    .timings img{
                        width: 15%;
                        padding: 5%;
                    }
                    .timings li:nth-child(1) img{
                        width: 8%;
                        padding: 3%;
                    }
                    .timings h5{
                        font-size: 8px;
                        line-height: 10px;
                    }
                    .timings h4{
                        margin-top:0;
                        font-size: 10px;
                        line-height: 12px;
                    }
        .texts{
            width: 100%;
        }
                .ingredients h5{
                    font-size: 16px;
                    margin: 8% 0;
                }
                .ingredients h5:nth-child(1){
                    margin-top: 3%;
                }
                    .ingredients li{
                        font-size: 14px;
                        line-height: 25px;
                        margin-bottom: 3%;
                    }
                    .ingredients li label{
                        margin: -2% 0 0 3%;
                    }
            .instructions ol li::before{
                padding: 0.5% 3%;
                font-size: 20px;
            }
            .instructions ol li{
                margin: 8% 0;
            }

            .instructions a{
                font-size: 12px;
            }

    footer{
        font-size: 12px;
    }
}